<% content_for :page_title do %>
  <%= Spree.t(:editing_tags) %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <%= render 'labels_list', labels: @labels %>
  </div>
  <div class="col-md-4">
    <%= render 'form' %>
  </div>
</div>
