/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/backend/all.css'
 */

#blog_entry_author_id_field .select2-container {
  width: 100%;
}

.blog_entry_image_thumbnail img {
  vertical-align: middle;
}
.page-actions {
  list-style: none;
}
form#new_blog_entry {
  padding: 0 16px;
}
div#blog_entry_visible_field {
  text-align: center;
}
div#blog_entry_body_field {
  padding-bottom: 20px;
}
.select2-container.mobility-select2 {
  display:  inline-block;
}
select#mobility_locale {
  padding-top: 6px;
  font-size: 17px;
  color: #333;
  border-color: #8c8c8c;
  &:focus, &:hover {
    background-color: #e6e6e6;
  }
}
.mob-bdg {
  margin: 0;
  margin-top: 1px;
  font-size: 1.9em;
  .label.label-info {
    border-radius: 3px;
    padding: .3em .8em .5em;
  }
}
input#blog_entry_visible {
  margin-top: 12px;
  transform: scale(1.2) !important
}
input#blog_entry_blog_entry_image_attributes_attachment {
  display: inline-block;
  margin-top: 0px;
  margin-left: 15px;
}
.blog_entry_image_thumbnail {
  display: inline-block;
}
div#blog_entry_blog_entry_image_attachment_field {
  display: flex;
  justify-content: flex-start;
  margin-left: 16px;
}
.roles-label{
  display: block;
}
.checkbox-role {
  display: inline-block;
  margin-right: 20px;
  margin-left: 3px;
  margin-top: 10px;
}
.fl-up {
  margin-top: 0px;
  margin-bottom: 10px;
}
.sum-ctrl {
  margin-bottom: 30px;
}
.sum-ctrl:focus {
  border-color: #b0d68b;
  box-shadow: none;
}
span.formError {
  color: darkred;
  font-size: .9em;
  text-transform: uppercase;
  &:before {
    content: "* "
  }
}
.btn.btn-primary, .btn.btn-danger {
  background: lightgray;
  border-radius: 3px;
  color: #333333;
  border-color: lightgray;
  &:hover {
    background: lighten(lightgray, 10%);
  }
}
.glyphicon-check, .glyphicon-unchecked {
  font-size: 1.1em;
}

