<% if !@blog_entries.empty? %>
  <% @blog_entries.in_groups_of(3, false) do |group| %>
    <div class="row">
      <% group.each do |blog_entry| %>
        <%= render :partial => 'spree/blog_entries/blog_entry', :locals => {:blog_entry => blog_entry} %>
      <% end %>
    </div>
  <% end %>
  <%= paginate @blog_entries %>
<% else %>
  <p id="no_entries"><%= Spree.t(:no_blog_entries) %></p>
<% end %>
