<% if @categories.present? %>
    <ul class="blog_categories_list">
      <% @categories.reverse.each do |category| %>
        <li><%= link_to category.name, blog_category_path(category.name) %> </li>
      <% end %>
    </ul>
<% end %>
