<% content_for :second_nav do %>
  <%= set_header_title %>
  <%= render :partial => 'spree/blog_entries/categories_list' %>
<% end %>
<div class="col-sm-12 col-md-10 col-md-offset-1">
  <%= render :partial => 'spree/blog_entries/blog_entries' %>
</div>
