<% content_for :head do -%>
  <meta name="title" content="<%= Spree.t(:blog) %>">
<% end -%>
<% content_for :second_nav do %>
  <%= render :partial => 'spree/blog_entries/categories_list' %>
<% end %>
<div class="col-sm-12 col-md-10 col-md-offset-1">
  <%= render :partial => 'spree/blog_entries/blog_entries' %>
</div>

