<article class="post">
  <div class="post-img-wrap col-md-10 col-md-offset-1">
    <%= link_to blog_entry_permalink(@blog_entry) do %>
      <%= image_tag  @blog_entry.blog_entry_image.attachment.url(:original), class: "img-responsive center-block" %>
    <% end %>
  </div>
  <div class="post-img-wrap col-md-8 col-md-offset-2">
    <div class="post-content">
      <h1 class="post-title"><%= @blog_entry.title %></h1>
    </div>
    <%== @blog_entry.body %>
  </div>
</article>
