<% content_for :sidebar do %>
  <%= render :partial => 'spree/blog_entries/blog_sidebar' %>
<% end %>

<h1><%= Spree.t(:blog_tag) %>: <%= @tag_name %></h1>
<%= render :partial => 'spree/blog_entries/blog_entries' %>
